body.darkside {
	db,
	bb,
	wb,
	databox,
	blackbox,
	whitebox,
	dust {
		padding: 2px 4px;

		&::before,
		&::after {
			color: var(--color-font);
		}
		&[id]::before {
			content: attr(id) '(';
		}
		&[id]::after {
			content: ')';
		}
	}

	databox::before {
		letter-spacing: 2px;
		font-size: 1.2em;
		content: 'db▮ ';
	}
	blackbox::before {
		letter-spacing: 2px;
		font-size: 1.2em;
		content: 'bb▮ ';
	}
	whitebox::before {
		content: 'wb▮ ';
	}

	dust {
		&::before,
		&::after {
			color: inherit;
		}
	}
}
