html(lang="ru")

head
	meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
	meta(content="text/html; charset=UTF-8" http-equiv="Content-Type")
	link(rel="stylesheet", href="./assets/reset.css")
	link(rel="stylesheet", href="./index.less")
	script(type="module", src="./index.js" async defer)
	title dust ▮
	
body
	canvas#webgl-220603

	bb#d220531.shade.collapse: include d220531/index.pug
	
	darkbox#tilemap
		brightbox
			bb#tiles ▮|▮|▮|▮
			bb#tiles ▮|▮|▮|▮
			bb#tiles ▮|▮|▮|▮
			bb#tiles ▮|▮|▮|▮
		darkbox
			db#dimensions 4,4,4
