@import './d220531/index.less';
@import './darkside.less';

// == dust 220602

.shade {
	.dust-0,
	dust,
	.dust {
		font-family: 'Flow';
	}
}

brightbox,
bb {
	--color-font: var(--color-2);
	--color-back: var(--color-0);
}

darkbox,
db {
	--color-font: var(--color-2);
	--color-back: var(--color-1);
}

darkbox,
db,
brightbox,
bb {
	background-color: var(--color-back);
	color: var(--color-font);
	display: block;
	width: max-content;

	padding: 2px 4px;
}

db, bb {
	font-size: 0.95em;
}

darkbox[id]::before {
	content: attr(id);
	color: var(--color-0);
}

brightbox[id]::before {
	content: attr(id);
	color: var(--color-1);
}

canvas#webgl-220603 {
	display: block;
	width: 100vw;
	height: 100vh;
	position: absolute;
	z-index: -1;
}

// == clay 220531

:root {
	--color-0: #fff;
	--color-1: #000;
	--color-2: #777;
	--color-3: #123;
	--color-4: #0ad;
	--color-garbage: #f0f;
}

html {
	width: 100%;
	height: 100%;
}
html,
body {
	display: flex;
	--color-font: var(--color-2);
	--color-back: var(--color-0);
	background-color: var(--color-back);
	color: var(--color-font);
}

body {
	// ---

	@font-face {
		font-family: 'Azeret';
		src: url('./assets/AzeretMono.ttf');
	}

	@font-face {
		font-family: 'Flow';
		src: url('./assets/FlowRounded.ttf');
	}

	font-family: 'Azeret';
}

.collapse {
	width: 1ch;
	height: 1em;
	display: inline;
	overflow: clip;
	background-color: var(--color-font);

	* {
		display: none !important;
	}
}
