@import './dust-220531.less';
@import './darkside.less';

:root {
	--color-0: #fff;
	--color-1: #000;
	--color-2: #777;
	--color-3: #123;
	--color-garbage: #f0f;
}

html {
	width: 100%;
	height: 100%;
}
html,
body {
	display: flex;
	background-color: var(--color-0);
	color: var(--color-1);
}

.wired {
	& > * {
		color: var(--color-2);
	}

	& > .wired {
		color: var(--color-0);
	}

	*.uncommited {
		&,
		&::before {
			color: var(--color-garbage);
		}
	}
}

body.brightside {
	margin: auto;

	flex-direction: column;

	blackbox,
	databox {
		display: none;
	}

	whitebox {
	}
}
