html(lang="ru")

head
	meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
	meta(content="text/html; charset=UTF-8" http-equiv="Content-Type")
	link(rel="stylesheet", href="./assets/reset.css")
	link(rel="stylesheet", href="./index.less")
	script(type="module", src="./index.js" async defer)

body.darkside.light-0
	#d220531.wired: include dust-220531
	whitebox#devlog
		wb#error
		wb#print
	databox#legs ▮▮▮
		db#version v2
		db#timestamp 220531 02:12
		db#comment заработал step, отрисовка. Нужно добавлять систему эвентов
